<app-header></app-header>
<app-page-head title="{{'Forgot Password?' | translate}}" [back]="true"></app-page-head>

<ion-content class="ion-padding">
  <div class="login-logo">
    <img src="assets/moped.svg" class="logo_icon" alt="">
  </div>

  <form #loginForm="ngForm" novalidate>
    <ion-list lines="none" class="form-inputs">
      <ion-item lines="none">
        <ion-input [(ngModel)]="login.email" [placeholder]="('Email' | translate) || '&nbsp;'" name="email"
          #email="ngModel" spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
          {{'Email is required' | translate}}
        </p>
      </ion-text>

    </ion-list>

    <ion-row class="ion-no-margin ion-no-padding" style="margin-top: 20px;">
      <ion-col class="ion-no-margin ion-no-padding">
        <ion-button class="btn-submit" (click)="onLogin(loginForm)" type="submit" expand="block">
          {{'Send Link' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>