.login-logo {
    margin: auto;
    margin-top: 15vh;
    text-align: center;
    margin-bottom: 30px;
    .logo_icon{
        max-width: 97px;
    }
}
.frgTag{
        text-align: right;
        color:var(--ion-color-primary);
}
.list {
    margin-bottom: 0;
}
ion-list{
    --ion-background-color:transparent;
    margin: 0px;
}
ion-item{
    &:not(:first-child){
        margin-top: 10px;
    }
    
}

.createAcc{
   text-align: center;
   .registerTag{
        color: var(--ion-color-primary);;
        font-weight: bold;
   }
} 

.form-inputs{
    padding: 0;
    margin-bottom: 30px;
}