<app-header></app-header>
<app-page-head title="{{'Log In' | translate}}"></app-page-head>

<ion-content class="ion-padding">
  <div class="login-buttons">
    <app-fb-btn></app-fb-btn>
    <app-email-btn></app-email-btn>
  </div>

  <span class="login-separator"><span>OR</span></span>

  <form #loginForm="ngForm" novalidate>
    <ion-list lines="none" class="form-inputs">
      <ion-item lines="none">
        <ion-input [(ngModel)]="login.email" type="email" [placeholder]="('Email address' | translate) || '&nbsp;'" name="email"
          #email="ngModel" spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
          {{'Email is required' | translate}}
        </p>
      </ion-text>

      <ion-item lines="none" class="password">
        <ion-input [(ngModel)]="login.password" name="password" [placeholder]="('password' | translate) || '&nbsp;'"
          [type]="passwordType" #password="ngModel" required>
        </ion-input>
        <ion-button class="eye-icon" clear item-end (click)='hideShowPassword()'>
          <ion-icon [name]="passwordIcon"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
          {{'Password is required' | translate}}
        </p>
      </ion-text>
      <p class="frgTag" (click)="resetPass()">{{'Forgot Password?' | translate}}</p>
    </ion-list>

    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding">
        <ion-button class="btn-submit" (click)="onLogin(loginForm)" type="submit" expand="block" [disabled]="isLogin">
          <span *ngIf="!isLogin"> {{'Log In' | translate}}</span>
          <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>

  </form>

  <p class="createAcc" (click)="register()">{{'Dont have an account?' | translate}}
    <span class="registerTag">{{'Sign up' | translate}}</span>
  </p>
</ion-content>