<app-header></app-header>
<app-page-head title="{{'Sign up' | translate}}"></app-page-head>

<ion-content class="ion-padding">
  <div class="login-buttons">
    <app-fb-btn></app-fb-btn>
    <app-email-btn></app-email-btn>
  </div>

  <span class="login-separator"><span>OR</span></span>

  <form #loginForm="ngForm" novalidate>
    <ion-list lines="none" class="form-inputs">
      <ion-item lines="none">
        <ion-input [(ngModel)]="login.first_name" type="text" [placeholder]="('First Name' | translate) || '&nbsp;'"
          name="first_name" #first_name="ngModel" spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="first_name.valid || submitted == false" class="error-msg">
          {{'First Name is required' | translate}}
        </p>
      </ion-text>

      <ion-item lines="none">
        <ion-input [(ngModel)]="login.last_name" type="text" [placeholder]="('Last Name' | translate) || '&nbsp;'"
          name="last_name" #last_name="ngModel" spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="last_name.valid || submitted == false" class="error-msg">
          {{'Last Name is required' | translate}}
        </p>
      </ion-text>

      <ion-item lines="none">
        <ion-input [(ngModel)]="login.email" type="email" [placeholder]="('Email' | translate) || '&nbsp;'" name="email"
          #email="ngModel" spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="email.valid || submitted == false" class="error-msg">
          {{'Email is required' | translate}}
        </p>
      </ion-text>

      <ion-item lines="none">
        <ion-input [(ngModel)]="login.password" name="password" [placeholder]="('password' | translate) || '&nbsp;'"
          type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="error-msg">
          {{'Password is required' | translate}}
        </p>

      </ion-text>
      <ion-item lines="none">
        <ion-input [(ngModel)]="login.confirmPassword" name="cpassword"
          [placeholder]="('Confirm Password' | translate) || '&nbsp;'" type="password" #cpassword="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="cpassword.valid || submitted == false" class="error-msg">
          {{'Confirm Password is required' | translate}}
        </p>
      </ion-text>
    </ion-list>

    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding">
        <ion-button class="btn_class" (click)="onLogin(loginForm)" type="submit" expand="block" [disabled]="isLogin">
          <span *ngIf="!isLogin"> {{'Sign up' | translate}}</span>
          <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
  <p class="createAcc" (click)="back()">{{'Already have an account' | translate}}
    <span class="registerTag">{{'Login' | translate}}</span>
  </p>
</ion-content>