.modal-head{
    line-height: 1;
    font-size: 20px;
    box-shadow: none;
    --border-width: 0;
    --min-height: 29px;
    text-align: center;
    --background: #F5F5F5;
    border-radius: 20px 20px 0 0;
    &:after{
        display: none;
    }
}

.radio-item{
    // --border-color: transparent;
    --border-width: 0;
    --inner-border-width: 0;
}